{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>徐梦简历</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->
	</head>
	<body>
	<div class="fh5co-loader"></div>
	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url({% static 'img/cover_bg_3.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url({% static 'img/123.jpg' %});"></div>
							<h2><span style="font-size:200%">- 徐 梦 -</span></h2>
							<h2><span>不积跬步,无以至千里;不积小流,无以成江海</span></h2>
							<!--
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="#"><i class="icon-twitter2"></i></a></li>
									<li><a href="#"><i class="icon-facebook2"></i></a></li>
									<li><a href="#"><i class="icon-linkedin2"></i></a></li>
									<li><a href="#"><i class="icon-dribbble2"></i></a></li>
								</ul>
							</p>
							-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>关于我</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">徐梦</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block">15306662734</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">xumeng927927@163.com</span></li>
						<li><span class="first-block">Website:</span><span class="second-block">ilovejob.ixuhan.cn</span></li>
						<li><span class="first-block">Address:</span><span class="second-block">浙江省宁波市鄞州区下应北路东方丽都</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Introduction</h2>
					<p>
						·学习时间长，对新事物的学习能力强；7年对旅游行业的学习和研究，学习了相关理论知识；<br/><br/>
						·研究生期间顺利完成至少6个旅游规划项目，写作能力和沟通能力得到系统培养；<br/><br/>
						·在校期间一直担任学生干部，领导能力和组织能力强，具有团队精神；<br/><br/>
						·在宁波电信担任大客户经理三年，先后负责金融房产类、校园类、医卫类客户的管理服务和销售维护，具备营销能力，能够迅速胜任相关工作
					</p>
					<!--
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter2"></i></a></li>
							<li><a href="#"><i class="icon-facebook3"></i></a></li>
							<li><a href="#"><i class="icon-linkedin2"></i></a></li>
							<li><a href="#"><i class="icon-dribbble2"></i></a></li>
						</ul>
					</p>
					-->
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>我的简历</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>工作经历</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">中国电信股份有限公司宁波分公司大客户经理</h3>
									<span class="company">2014.7.14-2017.3.31</span>
								</div>
								<div class="timeline-body">
									<p>负责金融房产类、校园类、政府类客户客户维护、市场开发和销售管理等工作, 承担目标客户销售目标，进行需求预测和商机挖掘等.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">重庆市文化广播电视局艺术节办公室实习生</h3>
									<span class="company">2012.9-2012.11</span>
								</div>
								<div class="timeline-body">
									<p>参与重庆市公共文化服务体系示范区制度设计课题（纳入文化部2010年国家公共文化服务体系制度设计研究）编写, 参与重庆各届文化艺术节活动的策划.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">福建厦门闽南大酒店储备干部</h3>
									<span class="company">2011.6-2011.9</span>
								</div>
								<div class="timeline-body">
									<p>在餐饮部学习中外酒水知识及服务礼仪，处理客人就餐过程中出现的各种问题，在人力资源部及财务部学习相关知识.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">四川省中国国际旅行社兼职导游</h3>
									<span class="company">2009.6-2009.8</span>
								</div>
								<div class="timeline-body">
									<p>负责汶川线路的导游讲解服务, 妥善处理当地各相关服务单位的协作关系，以及游客在旅游过程中可能出现的各类问题.</p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>项目经历</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">重庆北碚玺瑞葡萄采摘园总体规划</h3>
									<span class="company">2013.5-2013.7</span>
								</div>
								<div class="timeline-body">
									<p>负责园区平面图的绘制,负责规划文本部分内容.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">重庆北碚河溪生态农业观光园总体规划</h3>
									<span class="company">2013.3-2013.7</span>
								</div>
								<div class="timeline-body">
									<p>负责规划区旅游资源图、旅游交通图、功能分区图、总平图等图件的绘制, 负责规划文本第四章：旅游基础设施规划的编写.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">重庆涪陵大顺乡村旅游总体规划</h3>
									<span class="company">2013.3-2013.8</span>
								</div>
								<div class="timeline-body">
									<p>负责规划区旅游资源图、旅游交通图、功能分区图、总平图等图件的绘制, 负责规划文本第四章：旅游基础设施规划的编写.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">重庆酉阳景园旅游总体规划</h3>
									<span class="company">2013.2-2013.9</span>
								</div>
								<div class="timeline-body">
									<p>负责规划区旅游资源图、旅游交通图、功能分区图、总平图等图件的绘制, 负责规划文本第五章：旅游产品规划的编写.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">重庆北碚天府镇生态桑产业发展规划</h3>
									<span class="company">2011.5-2011.12</span>
								</div>
								<div class="timeline-body">
									<p>负责规划区区位关系图、市场定位图、总平图等图件的绘制, 负责规划文本第七章：旅游交通规划的编写.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">重庆北碚天府镇乡村旅游发展规划</h3>
									<span class="company">2011.5-2011.11</span>
								</div>
								<div class="timeline-body">
									<p>负责规划区旅游资源图、旅游交通图、功能分区图、总平图等图件的绘制, 负责部分规划文本的编写.</p>
								</div>
							</div>
						</li>						
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	

	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>教育背景</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-paintbrush"></i>
							</span>
							<div class="feature-copy">
								<h3>西南大学</h3>
								<p>主修课程：管理学理论及方法论 人力资源方法与管理理论 应用统计学 高级微观经济学等.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
							<div class="feature-copy">
								<h3>西南民族大学</h3>
								<p>主修课程：管理学 人力资源管理 市场营销 宏、微观经济学 各种旅游专业课等.</p>
							</div>
						</div>

					</div>
					
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
							<div class="feature-copy">
								<h3>荆门东宝中学</h3>
								<p>主修课程：语文 数学 英语 历史 地理 政治.</p>
							</div>
						</div>
					</div>
					
				</div>

				<!--
				<div class="row">
					<div class="col-md-4 text-center">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-bargraph"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Developent</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>

					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Marketing</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
							<div class="feature-copy">
								<h3>Support</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>
	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>专业技能</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="98"><span><strong>CET—6</strong>98%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="93"><span><strong>PhotoShop</strong>93%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>CorelDraw</strong>90%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="89"><span><strong>Office</strong>89%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>导游</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>财务</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>英文翻译</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>写作</strong>90%</span></div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>个人展示</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url({% static 'img/portfolio-1.jpg' %});">
						<!--
						<div class="desc">
							<h3>摄影</h3>
							<span>Photos</span>
						</div>
						-->
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url({% static 'img/123.jpg' %});">
						<!--
						<div class="desc">
							<h3>摄影</h3>
							<span>Photos</span>
						</div>
						-->
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url({% static 'img/123.jpg' %});">
						<!--
						<div class="desc">
							<h3>摄影</h3>
							<span>Photos</span>
						</div>
						-->
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url({% static 'img/123.jpg' %});">
						<!--
						<div class="desc">
							<h3>摄影</h3>
							<span>Photos</span>
						</div>
						-->
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url({% static 'img/123.jpg' %});">
						<!--
						<div class="desc">
							<h3>摄影</h3>
							<span>Photos</span>
						</div>
						-->
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url({% static 'img/123.jpg' %});">
						<!--
						<div class="desc">
							<h3>摄影</h3>
							<span>Photos</span>
						</div>
						-->
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url({% static 'img/123.jpg' %});">
						<!--
						<div class="desc">
							<h3>摄影</h3>
							<span>Photos</span>
						</div>
						-->
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url({% static 'img/123.jpg' %});">
						<!--
						<div class="desc">
							<h3>摄影</h3>
							<span>Photos</span>
						</div>
						-->
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>获奖情况</h2>
					<p>发表《宽窄巷子体验营销策略探讨》, 旅游纵览2012年第3期，《湖北文化旅游开发研究》, 企业文化2012年第23期，《从内部营销角度探讨提升员工忠诚度》, 企业文化2012第23期.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">西南大学优秀研究生干部</span><span class="value-right">2013年9月</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">研究生一等奖学金、辩论赛季军、迎新晚会诗歌朗诵一等奖</span><span class="value-right">2012年6月</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">西南民族大学一等奖学金、“优秀毕业生”、优秀毕业论文</span><span class="value-right">2010年12月</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">西南民族大学优秀团员、二等奖学金、三好学生标兵</span><span class="value-right">2009年5月</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">四川省第五届大学生旅游设计艺术节银奖（省级）</span><span class="value-right">2009年12月</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">西南民族大学第六届“创新杯”学术科技竞赛三等奖</span><span class="value-right">2009年5月</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">西南民族大学二等奖学金、三好学生、优秀团员</span><span class="value-right">2008年12月</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">西南民族大学英语词汇比赛二等奖</span><span class="value-right">2007年12月</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
				</div>
			</div>
			<!--
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/portfolio-1.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Mar. 15th 2016</span>
							<h3><a href="#">Photoshoot On The Street</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/portfolio-2.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Mar. 15th 2016</span>
							<h3><a href="#">Surfing at Philippines</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/portfolio-3.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Mar. 15th 2016</span>
							<h3><a href="#">Capture Living On Uderwater</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
	
	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hire Me!</h2>
					<p>The longest journey begins with the first step.</p>
					<p><a href="tel:15306662734" class="btn btn-default btn-lg">联系我：15306662734</a></p>
				</div>
			</div>
		</div>
	</div>
	<!--
	<div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url(images/cover_bg_1.jpg);">
			<div class="overlay"></div>
		</div>
		<div class="choose animate-box">
			<h2>Contact</h2>
			<form action="#">
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" id="fname" class="form-control" placeholder="Your firstname">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" id="lname" class="form-control" placeholder="Your lastname">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="email" class="form-control" placeholder="Your email address">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Good wine needs no bush" class="btn btn-primary">
				</div>

			</form>	
		</div>
	</div>

	<div id="map" class="fh5co-map"></div>
	</div>
	
	
	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>&copy; 2017 Free HTML5 Template. All Rights Reserved. <br>More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>
			</div>
		</div>
	</div>
	-->
	
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'js/jquery.easypiechart.min.js'%}"></script>
	<!-- Google Map -->

	<script src="{% static 'js/google_map.js' %}"></script>
	
	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>

